body {
  background-color: rgb(189, 192, 204);
}

.container {
  background-image: linear-gradient(305deg, rgba(214, 40, 40, 0.75), rgba(247, 127, 0, 0.75));
  margin: 2em 1em;
  color: #011627;
  display: flex;
  height: auto;
  max-width: 500px;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 2px 2px black;
}

.counterStyle {
  padding: 1em;
  border-radius: 15px;

}

.cardStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
  font-size: 20px;
}

.answerButton {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 1px 1px black;
  background-color: rgba(237, 240, 77, 0.7);
}

.answerButton:hover, .answerButton:focus {
  transform: scale(1.25);
  transition: transform 1s ease;
  outline: none;
}

.answerButton:focus {
  color: green;
}

.buttonStyle {
  padding: 0.3em;
  margin: 1em 0.5em;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f7ede2;
  box-shadow: 2px 1px 1px black;
  outline: none;
}

.buttonStyle:hover, .buttonStyle:active {
  background-color: #f9c74f;
  transition: background-color 0.75s ease;
}
